<a href="https://colab.research.google.com/github/Marlrero/AI_PrimaryEducation/blob/main/housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Keras DNN으로 집 값 예측하기

1. Import package

In [1]:
import pandas as pd  # 수학 패키지
import matplotlib.pyplot as plt # 그래프 패키지
import seaborn as sns # 그래프 패키지
from time import time # 시간 패키지

from keras.models import Sequential                  # 일렬로 쌓아서 구성하는 간단한 계층
from keras.layers import Dense                       # 완전 연결 계층
from sklearn.preprocessing import StandardScaler     # 데이터를 표준화함 (전처리)
from sklearn.model_selection import train_test_split # 훈련집합과 검증집합 분리

2. Set hyperparameter

In [2]:
MY_HIDDEN = 1000  # Hidden Node 갯수
MY_EPOCH = 500    # epoch: 반복 횟수 (길면 정확도가 크고, 시간이 오래걸림)
MY_BATCH = 64     # Batch size: 신경망은 미니배치(샘플을 자른 것) 단위로 학습함

3. Data preprocessing

In [6]:
# CSV 파일 읽기
raw = pd.read_csv('/content/drive/MyDrive/dataset/housing.csv')

# 행 10개만 출력
raw.head(10)

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD  TAX  PTRATIO  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...    1  296     15.3   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...    2  242     17.8   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...    2  242     17.8   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...    3  222     18.7   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...    3  222     18.7   5.33  36.2
5  0.02985   0.0   2.18     0  0.458  ...    3  222     18.7   5.21  28.7
6  0.08829  12.5   7.87     0  0.524  ...    5  311     15.2  12.43  22.9
7  0.14455  12.5   7.87     0  0.524  ...    5  311     15.2  19.15  27.1
8  0.21124  12.5   7.87     0  0.524  ...    5  311     15.2  29.93  16.5
9  0.17004  12.5   7.87     0  0.524  ...    5  311     15.2  17.10  18.9

[10 rows x 13 columns]

In [7]:
# 데이터 통계 출력
raw.describe()

             CRIM          ZN       INDUS  ...     PTRATIO       LSTAT        MEDV
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...    2.164946    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...   12.600000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...   17.400000    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...   19.050000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...   20.200000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...   22.000000   37.970000   50.000000

[8 rows x 13 columns]

In [ ]:
plt.figure(figsize=(15, 8)) # figure size
sns.set(font_scale=1.5) # font size
sns.boxplot(data=raw, palette='dark')